@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
}

body {
	background-color: #ffffff;
}

.swiper img {
	width: 100%;
}

.object-text {
	position: absolute;
	top: 7%;
	left: 60%;
	animation: fadeInUp 1s;
	z-index: 100;
}

.object-text img {
	position: relative;
}

@keyframes fadeInUp { 0% {
	opacity: 0;
	transform: translate(0%, 100%);
}

to {
	opacity: 1;
	transform: translate(0%, 0%);
}

}
.banner-swiper .swiper-wrapper .object-text img {
	height: 600px;
}

.banner-swiper img {
	height: 800px;
	object-fit: cover;
}

.content-swiper .swiper-wrapper {
	margin-top: 30px;
}

.content-swiper img {
	height: 290px;
	object-fit: cover;
}

.content-swiper .swiper-slide {
	transition: transform 0.2s ease-in-out;
}

.content-swiper .swiper-slide:hover {
	transform: scale(1.06);
}

.swiper .swiper-button-next, .swiper .swiper-button-prev {
	color: rgba(255, 183, 60, 0.426);
	transition-duration: 0.4s;
	margin: 0 2%;
}

.swiper .swiper-button-next:hover, .swiper .swiper-button-prev:hover {
	color: rgba(134, 134, 134, 0.426);
}

.swiper .swiper-button-next::after, .swiper .swiper-button-prev::after {
	font-size: 100px;
}

.tooltip {
	margin-bottom: 50px;
}

.brand-film-container {
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.brand-film-list {
	position: relative;
	margin: 20px 0;
	overflow: hidden;
}

.brand-film-list figure {
	background-size: cover;
	height: 590px;
	transition: transform .25s;
	transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.brand-film-list figure:hover {
	transform: scale(1.06);
}

.brand-film-list figcaption {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 20px;
	border-radius: 10px;
}

.support-section {
	margin: 100px auto;
	padding: 50px 0;
	position: relative;
}

.support-title {
	position: absolute;
	top: -100px;
	left: 10%;
	font-size: 5em;
	margin: 20px 0;
}

.card-container {
	display: flex;
	justify-content: space-around;
	margin: 20px auto;
	max-width: 1200px;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 50px 20px;
	text-align: center;
	width: 22%;
	transition: transform 0.3s ease-in-out;
}

.card h3 {
	margin: 10px 0;
	font-size: 26px;
}

.card p {
	color: #666;
}

.card:hover {
	transform: translate(0%, -8%);
}

@media ( max-width : 768px) {
	.brand-film-list figure {
		height: auto;
	}
	.brand-film-list figcaption {
		font-size: 14px;
	}
	.card-container {
		flex-direction: column;
	}
	.card {
		width: 80%;
		margin-bottom: 20px;
	}
}