@charset "UTF-8";
html{
	
	font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}
input {
    border: none;
}
body {
    width: 100%;
}
.service-page {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
}
.service-page .main-N5b {
    width: 100%;
    height: 9810px;
    position: relative;
    background-color: #f4f2eb;
}
.service-page .main-N5b .auto-group-s28b-htZ {
    width: 100%;
    max-width: 1500px;
    height: 1790px;
    position: absolute;
    left: 0;
}
.service-page .main-N5b .auto-group-s28b-htZ .section-list-item-rus {
    width: 1500px;
    height: 700px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.service-page .main-N5b .auto-group-s28b-htZ .section-list-item-rus .image-zWH {
    width: 100%;
    height: 700px;
    position: relative;
    background-size: 100% 154%;
    background-image: url("../img/service/service-image.png");
    transition: transform 0.5s ease;
}
.service-page .main-N5b .auto-group-s28b-htZ .section-list-item-rus .image-zWH:hover{
    transform: scale(1.06);
}
.service-page .main-N5b .auto-group-s28b-htZ .section-u7T {
    box-sizing: border-box;
    padding: 100px 50px 100px 300px;
    width: 100%;
    margin: 0 auto;
    height: 1220px;
    position: absolute;
    left: 0;
    top: 700px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}
.service-page .main-N5b .auto-group-s28b-htZ .section-u7T .auto-group-pstd-nh3 {
    margin-bottom: 105px;
    width: 100%;
    display: flex;
    align-items: center;
}
.service-page .main-N5b .auto-group-s28b-htZ .section-u7T .auto-group-pstd-nh3 .heading-2--8ku {
    margin-right: 500px;
    margin-left: 250px;
    max-width: 560px;
    display: flex;
    font-size: 45px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    font-family: Inter, "Source Sans Pro";
}
.service-page .main-N5b .auto-group-s28b-htZ .section-u7T .auto-group-pstd-nh3 .divhappytalkbtn-cAH {
    position: fixed;
    margin-top: px;
    width: 80px;
    height: 80px;
    object-fit: contain;
    vertical-align: top;
    border-radius: 40px;
}
.service-page .main-N5b .auto-group-s28b-htZ .section-u7T .auto-group-hp7z-vAy {
    margin: 0px 400px 110px 0px;
    display: flex;
    align-items: center;
}
.service-page
    .main-N5b
    .auto-group-s28b-htZ
    .section-u7T
    .auto-group-hp7z-vAy
    .list-item-yo-toyota-sec-intro-1png-RtR {
    margin: 0px 40px 50px 0px;
    width: 230px;
    height: 470px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/intro-1png-vXF.png");
    transition: transform 0.5s ease;

}
.service-page
    .main-N5b
    .auto-group-s28b-htZ
    .section-u7T
    .auto-group-hp7z-vAy
    .list-item-yo-toyota-sec-intro-2png-JhK {
    margin: 50px 40px 0px 0px;
    width: 230px;
    height: 470px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/intro-2png.png");
    transition: transform 0.5s ease;
}
.service-page
    .main-N5b
    .auto-group-s28b-htZ
    .section-u7T
    .auto-group-hp7z-vAy
    .list-item-yo-toyota-sec-intro-3png-za9 {
    margin: 0px 40px 50px 0px;
    width: 230px;
    height: 470px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/intro-3png.png");
    transition: transform 0.5s ease;
}
.service-page
    .main-N5b
    .auto-group-s28b-htZ
    .section-u7T
    .auto-group-hp7z-vAy
    .list-item-yo-toyota-sec-intro-4png-55o {
    margin-top: 50px;
    width: 230px;
    height: 470px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/intro-4png.png");
    transition: transform 0.5s ease;
    
}

.service-page .main-N5b .auto-group-s28b-htZ .section-u7T .auto-group-hp7z-vAy:hover .list-item-yo-toyota-sec-intro-1png-RtR,
.service-page .main-N5b .auto-group-s28b-htZ .section-u7T .auto-group-hp7z-vAy:hover .list-item-yo-toyota-sec-intro-3png-za9 {
    transform: translateY(50px);
}

.service-page .main-N5b .auto-group-s28b-htZ .section-u7T .auto-group-hp7z-vAy:hover .list-item-yo-toyota-sec-intro-2png-JhK,
.service-page .main-N5b .auto-group-s28b-htZ .section-u7T .auto-group-hp7z-vAy:hover .list-item-yo-toyota-sec-intro-4png-55o {
    transform: translateY(-50px);
}
.service-page .main-N5b .auto-group-s28b-htZ .section-u7T .item--a2Z {
    margin-left: 150px;
    max-width: 500px;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    color: #ffffff;
    font-family: Inter, "Source Sans Pro";
}
.service-page .main-N5b .section-heading-3--5dX {
    width: 400px;
    height: 50px;
    position: absolute;
    left: 440px;
    top: 2150px;
    display: flex;
    font-size: 33px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
}
.service-page .main-N5b .section-heading-4--YGD {
    width: 72px;
    height: 24px;
    position: absolute;
    left: 440px;
    top: 2245px;
    display: flex;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
}
.service-page .main-N5b .auto-group-eiwm-DdF {
    box-sizing: border-box;
    padding: 20px 240px 150px 240px;
    width: 1500px;
    height: 6400px;
    position: absolute;
    left: 0;
    top: 2270px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-fdsh-6h3 {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-fdsh-6h3 .auto-group-9ttd-eiZ {
    margin-right: 16px;
    width: 410px;
}
.service-page
    .main-N5b
    .auto-group-eiwm-DdF
    .auto-group-fdsh-6h3
    .auto-group-9ttd-eiZ
    .section-figure-yo-toyota-sec1-1jpg-Pw3 {
    width: 410px;
    height: 410px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/sec1-1jpg-9RP.png");
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-fdsh-6h3 .auto-group-9ttd-eiZ .section-article-strong-J2R {
    margin-bottom: 13px;
    box-sizing: border-box;
    padding: 34px 00px 16px 0px;
    width: 100%;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
    border: solid 1px #b7b5af;
}
.service-page
    .main-N5b
    .auto-group-eiwm-DdF
    .auto-group-fdsh-6h3
    .auto-group-9ttd-eiZ
    .section-article-yo-toyota--kv1 {
    margin-bottom: 40px;
    max-width: 260px;
    display: flex;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: #000000;
    font-family: Inter, "Source Sans Pro";
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-fdsh-6h3 .auto-group-9ttd-eiZ .section-article-link-eEh {
    width: 260px;
    height: 60px;
    display: flex;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
    cursor: pointer;
    color: #ffffff;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #ff280b;
    border-radius: 30px;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-fdsh-6h3 .section-figure-yo-toyota-sec1-2png-K5w {
    width: 620px;
    height: 760px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/sec1-2png-Qb7.png");
}
.service-page .main-N5b .auto-group-eiwm-DdF .section-heading-4--DBK {
    margin: 0px 97.70px 20px 0px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4011299435;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-g8sm-V8q {
    margin: 0px 0px 149px 0px;
    width: calc(100% - 00px);
    display: flex;
    align-items: flex-start;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-g8sm-V8q .section-figure-yo-toyota-sec1-3png-DKj {
    margin-right: 16px;
    width: 620px;
    height: 760px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/sec1-3png.png");
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-g8sm-V8q .auto-group-i2if-uiM {
    width: 410px;
}
.service-page
    .main-N5b
    .auto-group-eiwm-DdF
    .auto-group-g8sm-V8q
    .auto-group-i2if-uiM
    .section-figure-yo-toyota-sec1-4png-HD7 {
    margin-bottom: 00px;
    width: 410px;
    height: 410px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/sec1-4png.png");
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-g8sm-V8q .auto-group-i2if-uiM .section-article-strong-BpH {
    margin-bottom: 13px;
    box-sizing: border-box;
    padding: 3.40px 0px 1.60px 0px;
    width: 100%;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
    border: solid 1px #b7b5af;
}
.service-page
    .main-N5b
    .auto-group-eiwm-DdF
    .auto-group-g8sm-V8q
    .auto-group-i2if-uiM
    .section-article-yo-toyota--T17 {
    max-width: 270px;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
}
.service-page .main-N5b .auto-group-eiwm-DdF .section-heading-3--ixd {
    margin: 0px 500px 40px 0px;
    display: flex;
    font-size: 33px;
    font-weight: 400;
    line-height: 1.5;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-chjb-nBo {
    margin: 0px 221px 10px 0px;
    width: calc(100% - 22.10px);
    height: 512px;
    display: flex;
    align-items: center;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-chjb-nBo .section-figure-yo-toyota-sec2-1png-WNh {
    margin-right: 76px;
    width: 512px;
    height: 512px;
    left: 90px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/sec2-1png.png");
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-chjb-nBo .auto-group-womd-DH7 {
    margin: 201px 00px 201px 0px;
    height: calc(100% - 402px);
    display: flex;
    flex-direction: column;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-chjb-nBo .auto-group-womd-DH7 .section-article-strong--YKP {
    margin-bottom: 13px;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 17;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-chjb-nBo .auto-group-womd-DH7 .section-article--dbj {
    max-width: 231px;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-fk55-uZF {
    margin: 0px 0px 10px 60px;
    width: calc(100% - 60px);
    height: 512px;
    display: flex;
    align-items: center;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-fk55-uZF .auto-group-crto-EbX {
    margin: 211px 27px 212px 0px;
    height: calc(100% - 42.31750px);
    display: flex;
    flex-direction: column;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-fk55-uZF .auto-group-crto-EbX .section-article-strong--NBw {
    margin-bottom: 13px;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 17;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-fk55-uZF .auto-group-crto-EbX .section-article--G2R {
    max-width: 202px;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-fk55-uZF .section-figure-yo-toyota-sec2-2png-YVj {
    width: 512px;
    height: 512px;
    position: relative;
    left: 220px;
    background-size: 100% 100%;
    background-image: url("../img/service/sec2-2png-4A1.png");
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-7xnw-qzd {
    margin: 00px 165px 150px 0px;
    width: calc(100% - 165px);
    height: 512px;
    display: flex;
    align-items: center;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-7xnw-qzd .section-figure-yo-toyota-sec2-3png-Njf {
    margin-right: 7.60px;
    width: 512px;
    height: 512px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/sec2-3png.png");
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-7xnw-qzd .auto-group-wg43-HLq {
    margin: 201px 00px 201px 0px;
    height: calc(100% - 40.23450px);
    display: flex;
    flex-direction: column;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-7xnw-qzd .auto-group-wg43-HLq .section-article-strong-sc-ce1 {
    margin-bottom: 13px;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-7xnw-qzd .auto-group-wg43-HLq .section-article-sc--86Z {
    max-width: 287px;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
}
.service-page .main-N5b .auto-group-eiwm-DdF .section-heading-3--bVw {
    margin: 00px 629px 40px 0px;
    display: flex;
    font-size: 33px;
    font-weight: 400;
    line-height: 1.5;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-yzqr-siM {
    margin-bottom: 65px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-yzqr-siM .auto-group-7huw-ptV {
    margin-right: 16px;
    width: 410px;
}
.service-page
    .main-N5b
    .auto-group-eiwm-DdF
    .auto-group-yzqr-siM
    .auto-group-7huw-ptV
    .section-figure-yo-toyota-sec3-1png-Nv1 {
    width: 410px;
    height: 410px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/sec3-1png.png");
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-yzqr-siM .auto-group-7huw-ptV .section-article-strong-4H3 {
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 34px 00px 16px 0px;
    width: 100%;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
    border: solid 1px #b7b5af;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-yzqr-siM .auto-group-7huw-ptV .section-article--j8H {
    max-width: 238px;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-yzqr-siM .section-figure-yo-toyota-sec3-2png-pfX {
    width: 620px;
    height: 760px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/sec3-2png.png");
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-rp6s-viZ {
    margin: 0px 0px 150px 0px;
    width: calc(100% - 00px);
    display: flex;
    align-items: flex-start;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-rp6s-viZ .section-figure-yo-toyota-sec3-3png-euT {
    margin-right: 16px;
    width: 620px;
    height: 760px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/sec3-3png.png");
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-rp6s-viZ .auto-group-4grf-Mos {
    width: 410px;
}
.service-page
    .main-N5b
    .auto-group-eiwm-DdF
    .auto-group-rp6s-viZ
    .auto-group-4grf-Mos
    .section-figure-yo-toyota-sec3-4png-KEu {
    width: 410px;
    height: 410px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/sec3-4png.png");
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-rp6s-viZ .auto-group-4grf-Mos .section-article-strong-RYq {
    margin-bottom: 13px;
    box-sizing: border-box;
    padding: 34px 0px 16px 0px;
    width: 100%;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
    border: solid 1px #b7b5af;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-rp6s-viZ .auto-group-4grf-Mos .section-article-24--JsX {
    max-width: 273px;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
}
.service-page .main-N5b .auto-group-eiwm-DdF .section-heading-3--bLq {
    margin: 00px 755px 40px 0px;
    display: flex;
    font-size: 33px;
    font-weight: 400;
    line-height: 1.5;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-uzvt-U9j {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-uzvt-U9j .auto-group-itxj-Rqf {
    margin-right: 16px;
    width: 410px;
}
.service-page
    .main-N5b
    .auto-group-eiwm-DdF
    .auto-group-uzvt-U9j
    .auto-group-itxj-Rqf
    .section-figure-yo-toyota-sec4-1png-yMP {
    width: 410px;
    height: 410px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/sec4-1png-79w.png");
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-uzvt-U9j .auto-group-itxj-Rqf .section-article-strong-GbP {
    margin-bottom: 13px;
    box-sizing: border-box;
    padding: 34px 00px 16px 0px;
    width: 100%;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
    border: solid 1px #b7b5af;
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-uzvt-U9j .auto-group-itxj-Rqf .section-article--xDK {
    max-width: 220px;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;

    color: #000000;
    font-family: Inter, "Source Sans Pro";
}
.service-page .main-N5b .auto-group-eiwm-DdF .auto-group-uzvt-U9j .section-figure-yo-toyota-sec4-2png-FTK {
    width: 620px;
    height: 760px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/sec4-2png.png");
}
.service-page .main-N5b .section-kus {
    box-sizing: border-box;
    padding: 80px 240px 100px 240px;
    width: 1500px;
    height: 1140px;
    position: absolute;
    left: 0;
    top: 8670px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}
.service-page .main-N5b .section-kus .heading-2-yo-toyota--4Qm {
    margin: 0px 640px 40px 0px;
    display: flex;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.5;

    color: #ffffff;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
}
.service-page .main-N5b .section-kus .figure-yo-toyota-sec5-1png-kYV {
    margin-bottom: 40px;
    width: 1040px;
    height: 550px;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../img/service/figure-sec5.png");
}
.service-page .main-N5b .section-kus .article-strong--43P {
    margin: 0px 920px 13px 0px;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;

    color: #ffffff;
    font-family: Inter, "Source Sans Pro";
    white-space: nowrap;
}
.service-page .main-N5b .section-kus .article-100--94q {
    margin: 00px 600px 100px 0px;
    max-width: 439px;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;

    color: #ffffff;
    font-family: Inter, "Source Sans Pro";
}
.service-page .main-N5b .section-kus .divtablet-container-BGR {
    box-sizing: border-box;
    padding: 80px 0px 40px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 1px #878787;
}
.service-page .main-N5b .section-kus .divtablet-container-BGR .heading-2--uiD {
    margin-right: 200px;
    max-width: 420px;
    display: flex;
    font-size: 33px;
    font-weight: 300;
    line-height: 2;
    color: #ffffff;
    font-family: Inter, "Source Sans Pro";
}
.service-page .main-N5b .section-kus .divtablet-container-BGR .columncol-2-bL9 {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}
.service-page .main-N5b .section-kus .divtablet-container-BGR .columncol-2-bL9 .link-appstore-downloadpng-wQ1 {
    margin: 0px 10px 0px 0px;
    width: 190px;
    height: 60px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/link-appstore.png");
}
.service-page .main-N5b .section-kus .divtablet-container-BGR .columncol-2-bL9 .link-googleplay-downloadpng-2wF {
    width: 190px;
    height: 80px;
    position: relative;
    background-size: 100% 100%;
    background-image: url("../img/service/link-googleplay.png");
}
